### Agenda
* NaN values
* filling NaN Values-->random,ffill,bfill,mean
* Dropping rows/column
* Data Merging-->row creation & merging, Column creation
* Grouping
* Other function

In [1]:
## Loading the csv file

#* csv --> comma separated value

import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv('dataset-10551.csv')
cars.head()  #first 5 rows of csv file

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [3]:
cars.shape

(32, 11)

In [4]:
cars.tail()  # last 5 rows of csv file

                 mpg  cyl   disp   hp  drat     wt  qsec  vs  am  gear  carb
Lotus Europa    30.4    4   95.1  113  3.77  1.513  16.9   1   1     5     2
Ford Pantera L  15.8    8  351.0  264  4.22  3.170  14.5   0   1     5     4
Ferrari Dino    19.7    6  145.0  175  3.62  2.770  15.5   0   1     5     6
Maserati Bora   15.0    8  301.0  335  3.54  3.570  14.6   0   1     5     8
Volvo 142E      21.4    4  121.0  109  4.11  2.780  18.6   1   1     4     2

In [5]:
cars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [6]:
cars.dtypes

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [7]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, Mazda RX4 to Volvo 142E
Data columns (total 11 columns):
mpg     32 non-null float64
cyl     32 non-null int64
disp    32 non-null float64
hp      32 non-null int64
drat    32 non-null float64
wt      32 non-null float64
qsec    32 non-null float64
vs      32 non-null int64
am      32 non-null int64
gear    32 non-null int64
carb    32 non-null int64
dtypes: float64(5), int64(6)
memory usage: 3.0+ KB

In [8]:
cars.describe()  # statical information about data, its also called 5 point summary

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [9]:
cars.car_model.describe()

AttributeError: 'DataFrame' object has no attribute 'car_model'

In [10]:
## NaN --> not a number
np.nan

nan

In [11]:
cars.isnull()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,False,False,False,False,False,False,False,False,False,False,False
Mazda RX4 Wag,False,False,False,False,False,False,False,False,False,False,False
Datsun 710,False,False,False,False,False,False,False,False,False,False,False
Hornet 4 Drive,False,False,False,False,False,False,False,False,False,False,False
Hornet Sportabout,False,False,False,False,False,False,False,False,False,False,False
Valiant,False,False,False,False,False,False,False,False,False,False,False
Duster 360,False,False,False,False,False,False,False,False,False,False,False
Merc 240D,False,False,False,False,False,False,False,False,False,False,False
Merc 230,False,False,False,False,False,False,False,False,False,False,False
Merc 280,False,False,False,False,False,False,False,False,False,False,False
Merc 280C,False,False,False,False,False,False,False,False,False,False,False
Merc 450SE,False,False,False,False,False,False,False,False,False,False,False
Merc 450SL,False,False,False,False,False,False,False,False,False,False,False
Merc 450SLC,False,False,False,False,False,False,False,False,False,False,False
Cadillac Fleetwood,False,False,False,False,False,False,False,False,False,False,False
Lincoln Continental,False,False,False,False,False,False,False,False,False,False,False
Chrysler Imperial,False,False,False,False,False,False,False,False,False,False,False
Fiat 128,False,False,False,False,False,False,False,False,False,False,False
Honda Civic,False,False,False,False,False,False,False,False,False,False,False
Toyota Corolla,False,False,False,False,False,False,False,False,False,False,False
Toyota Corona,False,False,False,False,False,False,False,False,False,False,False
Dodge Challenger,False,False,False,False,False,False,False,False,False,False,False
AMC Javelin,False,False,False,False,False,False,False,False,False,False,False
Camaro Z28,False,False,False,False,False,False,False,False,False,False,False
Pontiac Firebird,False,False,False,False,False,False,False,False,False,False,False
Fiat X1-9,False,False,False,False,False,False,False,False,False,False,False
Porsche 914-2,False,False,False,False,False,False,False,False,False,False,False
Lotus Europa,False,False,False,False,False,False,False,False,False,False,False
Ford Pantera L,False,False,False,False,False,False,False,False,False,False,False
Ferrari Dino,False,False,False,False,False,False,False,False,False,False,False
Maserati Bora,False,False,False,False,False,False,False,False,False,False,False
Volvo 142E,False,False,False,False,False,False,False,False,False,False,False

In [12]:
cars.isnull().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [13]:
cars.head(10)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [14]:
cars.loc[3:5,['mpg']] = np.nan

In [15]:
cars.head(10)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,NaN,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,NaN,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4

In [16]:
#rows -26 to rows 28th row nan for disp and hp
cars.loc[25:29,['disp','hp']] = np.nan

In [17]:
cars.tail(10)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
AMC Javelin,15.2,8,304.0,150.0,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245.0,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175.0,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,NaN,NaN,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,NaN,NaN,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,NaN,NaN,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,NaN,NaN,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175.0,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335.0,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109.0,4.11,2.780,18.60,1,1,4,2

In [18]:
cars.isnull()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,False,False,False,False,False,False,False,False,False,False,False
Mazda RX4 Wag,False,False,False,False,False,False,False,False,False,False,False
Datsun 710,False,False,False,False,False,False,False,False,False,False,False
Hornet 4 Drive,True,False,False,False,False,False,False,False,False,False,False
Hornet Sportabout,True,False,False,False,False,False,False,False,False,False,False
Valiant,False,False,False,False,False,False,False,False,False,False,False
Duster 360,False,False,False,False,False,False,False,False,False,False,False
Merc 240D,False,False,False,False,False,False,False,False,False,False,False
Merc 230,False,False,False,False,False,False,False,False,False,False,False
Merc 280,False,False,False,False,False,False,False,False,False,False,False
Merc 280C,False,False,False,False,False,False,False,False,False,False,False
Merc 450SE,False,False,False,False,False,False,False,False,False,False,False
Merc 450SL,False,False,False,False,False,False,False,False,False,False,False
Merc 450SLC,False,False,False,False,False,False,False,False,False,False,False
Cadillac Fleetwood,False,False,False,False,False,False,False,False,False,False,False
Lincoln Continental,False,False,False,False,False,False,False,False,False,False,False
Chrysler Imperial,False,False,False,False,False,False,False,False,False,False,False
Fiat 128,False,False,False,False,False,False,False,False,False,False,False
Honda Civic,False,False,False,False,False,False,False,False,False,False,False
Toyota Corolla,False,False,False,False,False,False,False,False,False,False,False
Toyota Corona,False,False,False,False,False,False,False,False,False,False,False
Dodge Challenger,False,False,False,False,False,False,False,False,False,False,False
AMC Javelin,False,False,False,False,False,False,False,False,False,False,False
Camaro Z28,False,False,False,False,False,False,False,False,False,False,False
Pontiac Firebird,False,False,False,False,False,False,False,False,False,False,False
Fiat X1-9,False,False,True,True,False,False,False,False,False,False,False
Porsche 914-2,False,False,True,True,False,False,False,False,False,False,False
Lotus Europa,False,False,True,True,False,False,False,False,False,False,False
Ford Pantera L,False,False,True,True,False,False,False,False,False,False,False
Ferrari Dino,False,False,False,False,False,False,False,False,False,False,False
Maserati Bora,False,False,False,False,False,False,False,False,False,False,False
Volvo 142E,False,False,False,False,False,False,False,False,False,False,False

In [19]:
cars.isnull().sum()

mpg     2
cyl     0
disp    4
hp      4
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [20]:
## Filling missing value --> random ,ffill,bfill,mean,mode(Categorical Data)

### Data Preparation

* Loading the data,basic info
* Identify the missing values
* Handle/fill the missing values
* Chech the duplicate values

In [21]:
## Load the mtcars_empty.csv,info(),describe(),isnull().sum()

In [22]:
cars = pd.read_csv('dataset-10551.csv')
cars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [23]:
cars.loc[1:3,['drat']] = '#'
cars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.9,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,#,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,#,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.7,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [24]:
cars.isnull().sum().sum()

0

In [25]:
cars.isnull().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    0
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [26]:
s='@ # %'.split()
for i in s:
    cars.replace(i,np.nan,inplace=True)

In [27]:
## replace
cars['drat'].replace('#',np.nan,inplace=True)
cars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,NaN,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,NaN,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [28]:
cars['drat']

Mazda RX4              3.90
Mazda RX4 Wag           NaN
Datsun 710              NaN
Hornet 4 Drive         3.08
Hornet Sportabout      3.15
Valiant                2.76
Duster 360             3.21
Merc 240D              3.69
Merc 230               3.92
Merc 280               3.92
Merc 280C              3.92
Merc 450SE             3.07
Merc 450SL             3.07
Merc 450SLC            3.07
Cadillac Fleetwood     2.93
Lincoln Continental    3.00
Chrysler Imperial      3.23
Fiat 128               4.08
Honda Civic            4.93
Toyota Corolla         4.22
Toyota Corona          3.70
Dodge Challenger       2.76
AMC Javelin            3.15
Camaro Z28             3.73
Pontiac Firebird       3.08
Fiat X1-9              4.08
Porsche 914-2          4.43
Lotus Europa           3.77
Ford Pantera L         4.22
Ferrari Dino           3.62
Maserati Bora          3.54
Volvo 142E             4.11
Name: drat, dtype: float64

In [29]:
cars.isnull().sum()

mpg     0
cyl     0
disp    0
hp      0
drat    2
wt      0
qsec    0
vs      0
am      0
gear    0
carb    0
dtype: int64

In [30]:
## Handle and fill the nan value
#Methods--> fill the data-->any value
### ffill,bfill,mean,median,mode(Categorical Data)

In [31]:
# fillna
cars.fillna(value=100)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,100.00,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,100.00,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [32]:
cars.fillna(method='ffill')   ## fills with previous value

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.90,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [33]:
cars.fillna(method='bfill')   #fills with previous value(LOCF)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.08,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.08,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [34]:
cars.fillna(cars.mean())

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.900,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.578,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.578,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.080,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.150,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.760,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.210,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.690,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.920,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.920,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.920,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.070,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.070,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.070,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.930,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.000,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.230,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.080,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.930,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.220,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.700,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.760,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.150,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.730,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.080,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.080,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.430,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.770,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.220,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.620,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.540,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.110,2.780,18.60,1,1,4,2

In [35]:
cars.fillna(cars.median())

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.900,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.655,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.655,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.080,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.150,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.760,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.210,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.690,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.920,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.920,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.920,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.070,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.070,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.070,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.930,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.000,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.230,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.080,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.930,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.220,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.700,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.760,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.150,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.730,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.080,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.080,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.430,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.770,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.220,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.620,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.540,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.110,2.780,18.60,1,1,4,2

In [36]:
cars.fillna(cars['mpg'].mode())

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,NaN,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,NaN,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [37]:
## Dropping rows and columns
cars.dropna()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [38]:
# axis =0 --> rows
# axis =1 --> columns
cars.drop('unnnamed: 0',axis=1)  # drop whole columns

ValueError: labels ['unnnamed: 0'] not contained in axis

In [39]:
cars.drop(3,axis=0)

ValueError: labels [3] not contained in axis

In [40]:
cars.dropna(how='all')  # delete rows if all values are null

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,NaN,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,NaN,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [41]:
cars.dropna(how='any',inplace=True)  # delete rows if any value is null

In [42]:
cars.reset_index(drop=True)

     mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  carb
0   21.0    6  160.0  110  3.90  2.620  16.46   0   1     4     4
1   21.4    6  258.0  110  3.08  3.215  19.44   1   0     3     1
2   18.7    8  360.0  175  3.15  3.440  17.02   0   0     3     2
3   18.1    6  225.0  105  2.76  3.460  20.22   1   0     3     1
4   14.3    8  360.0  245  3.21  3.570  15.84   0   0     3     4
5   24.4    4  146.7   62  3.69  3.190  20.00   1   0     4     2
6   22.8    4  140.8   95  3.92  3.150  22.90   1   0     4     2
7   19.2    6  167.6  123  3.92  3.440  18.30   1   0     4     4
8   17.8    6  167.6  123  3.92  3.440  18.90   1   0     4     4
9   16.4    8  275.8  180  3.07  4.070  17.40   0   0     3     3
10  17.3    8  275.8  180  3.07  3.730  17.60   0   0     3     3
11  15.2    8  275.8  180  3.07  3.780  18.00   0   0     3     3
12  10.4    8  472.0  205  2.93  5.250  17.98   0   0     3     4
13  10.4    8  460.0  215  3.00  5.424  17.82   0   0     3     4
14  14.7    8  440.0  230  3.23  5.345  17.42   0   0     3     4
15  32.4    4   78.7   66  4.08  2.200  19.47   1   1     4     1
16  30.4    4   75.7   52  4.93  1.615  18.52   1   1     4     2
17  33.9    4   71.1   65  4.22  1.835  19.90   1   1     4     1
18  21.5    4  120.1   97  3.70  2.465  20.01   1   0     3     1
19  15.5    8  318.0  150  2.76  3.520  16.87   0   0     3     2
20  15.2    8  304.0  150  3.15  3.435  17.30   0   0     3     2
21  13.3    8  350.0  245  3.73  3.840  15.41   0   0     3     4
22  19.2    8  400.0  175  3.08  3.845  17.05   0   0     3     2
23  27.3    4   79.0   66  4.08  1.935  18.90   1   1     4     1
24  26.0    4  120.3   91  4.43  2.140  16.70   0   1     5     2
25  30.4    4   95.1  113  3.77  1.513  16.90   1   1     5     2
26  15.8    8  351.0  264  4.22  3.170  14.50   0   1     5     4
27  19.7    6  145.0  175  3.62  2.770  15.50   0   1     5     6
28  15.0    8  301.0  335  3.54  3.570  14.60   0   1     5     8
29  21.4    4  121.0  109  4.11  2.780  18.60   1   1     4     2

In [43]:
cars.duplicated().sum()

0

In [44]:
# find the duplicates
cars.duplicated()

Mazda RX4              False
Hornet 4 Drive         False
Hornet Sportabout      False
Valiant                False
Duster 360             False
Merc 240D              False
Merc 230               False
Merc 280               False
Merc 280C              False
Merc 450SE             False
Merc 450SL             False
Merc 450SLC            False
Cadillac Fleetwood     False
Lincoln Continental    False
Chrysler Imperial      False
Fiat 128               False
Honda Civic            False
Toyota Corolla         False
Toyota Corona          False
Dodge Challenger       False
AMC Javelin            False
Camaro Z28             False
Pontiac Firebird       False
Fiat X1-9              False
Porsche 914-2          False
Lotus Europa           False
Ford Pantera L         False
Ferrari Dino           False
Maserati Bora          False
Volvo 142E             False
dtype: bool

In [45]:
## Drop duplicates
cars.drop_duplicates()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [46]:
# Data Merging--> rows creation & merging , column creation

In [47]:
cars.head(1)

            mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

In [48]:
# drop unnamed
# Q) create a df with kia seltos (fill value) and transpose and add column names, concat ccar with new added rows

In [49]:
cars_new = pd.DataFrame(['Kia Seltos',26,4,340,130,2,65,4.55,14.67,1,1,4,8])
cars_new

             0
0   Kia Seltos
1           26
2            4
3          340
4          130
5            2
6           65
7         4.55
8        14.67
9            1
10           1
11           4
12           8

In [50]:
car=cars_new.transpose()  # row into col and vice versa
car

           0   1  2    3    4  5   6     7      8  9  10 11 12
0  Kia Seltos  26  4  340  130  2  65  4.55  14.67  1  1  4  8

In [51]:
cars.columns

Index(['mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear',
       'carb'],
      dtype='object')

In [52]:
car.columns = ['car_model','unknow','mpg', 'cyl', 'disp', 'hp', 'drat', 'wt', 'qsec', 'vs', 'am', 'gear','carb']
car

    car_model unknow mpg  cyl disp hp drat    wt   qsec vs am gear carb
0  Kia Seltos     26   4  340  130  2   65  4.55  14.67  1  1    4    8

In [53]:
cars_updated = pd.concat([car,cars])
cars_updated

,am,car_model,carb,cyl,disp,drat,gear,hp,mpg,qsec,unknow,vs,wt
0,1,Kia Seltos,8,340,130,65,4,2,4,14.67,26,1,4.55
Mazda RX4,1,NaN,4,6,160,3.9,4,110,21,16.46,NaN,0,2.62
Hornet 4 Drive,0,NaN,1,6,258,3.08,3,110,21.4,19.44,NaN,1,3.215
Hornet Sportabout,0,NaN,2,8,360,3.15,3,175,18.7,17.02,NaN,0,3.44
Valiant,0,NaN,1,6,225,2.76,3,105,18.1,20.22,NaN,1,3.46
Duster 360,0,NaN,4,8,360,3.21,3,245,14.3,15.84,NaN,0,3.57
Merc 240D,0,NaN,2,4,146.7,3.69,4,62,24.4,20,NaN,1,3.19
Merc 230,0,NaN,2,4,140.8,3.92,4,95,22.8,22.9,NaN,1,3.15
Merc 280,0,NaN,4,6,167.6,3.92,4,123,19.2,18.3,NaN,1,3.44
Merc 280C,0,NaN,4,6,167.6,3.92,4,123,17.8,18.9,NaN,1,3.44
Merc 450SE,0,NaN,3,8,275.8,3.07,3,180,16.4,17.4,NaN,0,4.07
Merc 450SL,0,NaN,3,8,275.8,3.07,3,180,17.3,17.6,NaN,0,3.73
Merc 450SLC,0,NaN,3,8,275.8,3.07,3,180,15.2,18,NaN,0,3.78
Cadillac Fleetwood,0,NaN,4,8,472,2.93,3,205,10.4,17.98,NaN,0,5.25
Lincoln Continental,0,NaN,4,8,460,3,3,215,10.4,17.82,NaN,0,5.424
Chrysler Imperial,0,NaN,4,8,440,3.23,3,230,14.7,17.42,NaN,0,5.345
Fiat 128,1,NaN,1,4,78.7,4.08,4,66,32.4,19.47,NaN,1,2.2
Honda Civic,1,NaN,2,4,75.7,4.93,4,52,30.4,18.52,NaN,1,1.615
Toyota Corolla,1,NaN,1,4,71.1,4.22,4,65,33.9,19.9,NaN,1,1.835
Toyota Corona,0,NaN,1,4,120.1,3.7,3,97,21.5,20.01,NaN,1,2.465
Dodge Challenger,0,NaN,2,8,318,2.76,3,150,15.5,16.87,NaN,0,3.52
AMC Javelin,0,NaN,2,8,304,3.15,3,150,15.2,17.3,NaN,0,3.435
Camaro Z28,0,NaN,4,8,350,3.73,3,245,13.3,15.41,NaN,0,3.84
Pontiac Firebird,0,NaN,2,8,400,3.08,3,175,19.2,17.05,NaN,0,3.845
Fiat X1-9,1,NaN,1,4,79,4.08,4,66,27.3,18.9,NaN,1,1.935
Porsche 914-2,1,NaN,2,4,120.3,4.43,5,91,26,16.7,NaN,0,2.14
Lotus Europa,1,NaN,2,4,95.1,3.77,5,113,30.4,16.9,NaN,1,1.513
Ford Pantera L,1,NaN,4,8,351,4.22,5,264,15.8,14.5,NaN,0,3.17
Ferrari Dino,1,NaN,6,6,145,3.62,5,175,19.7,15.5,NaN,0,2.77
Maserati Bora,1,NaN,8,8,301,3.54,5,335,15,14.6,NaN,0,3.57
Volvo 142E,1,NaN,2,4,121,4.11,4,109,21.4,18.6,NaN,1,2.78

In [54]:
cars_updated = pd.concat([car,cars],ignore_index=True)
cars_updated

,am,car_model,carb,cyl,disp,drat,gear,hp,mpg,qsec,unknow,vs,wt
0,1,Kia Seltos,8,340,130,65,4,2,4,14.67,26,1,4.55
1,1,NaN,4,6,160,3.9,4,110,21,16.46,NaN,0,2.62
2,0,NaN,1,6,258,3.08,3,110,21.4,19.44,NaN,1,3.215
3,0,NaN,2,8,360,3.15,3,175,18.7,17.02,NaN,0,3.44
4,0,NaN,1,6,225,2.76,3,105,18.1,20.22,NaN,1,3.46
5,0,NaN,4,8,360,3.21,3,245,14.3,15.84,NaN,0,3.57
6,0,NaN,2,4,146.7,3.69,4,62,24.4,20,NaN,1,3.19
7,0,NaN,2,4,140.8,3.92,4,95,22.8,22.9,NaN,1,3.15
8,0,NaN,4,6,167.6,3.92,4,123,19.2,18.3,NaN,1,3.44
9,0,NaN,4,6,167.6,3.92,4,123,17.8,18.9,NaN,1,3.44
10,0,NaN,3,8,275.8,3.07,3,180,16.4,17.4,NaN,0,4.07
11,0,NaN,3,8,275.8,3.07,3,180,17.3,17.6,NaN,0,3.73
12,0,NaN,3,8,275.8,3.07,3,180,15.2,18,NaN,0,3.78
13,0,NaN,4,8,472,2.93,3,205,10.4,17.98,NaN,0,5.25
14,0,NaN,4,8,460,3,3,215,10.4,17.82,NaN,0,5.424
15,0,NaN,4,8,440,3.23,3,230,14.7,17.42,NaN,0,5.345
16,1,NaN,1,4,78.7,4.08,4,66,32.4,19.47,NaN,1,2.2
17,1,NaN,2,4,75.7,4.93,4,52,30.4,18.52,NaN,1,1.615
18,1,NaN,1,4,71.1,4.22,4,65,33.9,19.9,NaN,1,1.835
19,0,NaN,1,4,120.1,3.7,3,97,21.5,20.01,NaN,1,2.465
20,0,NaN,2,8,318,2.76,3,150,15.5,16.87,NaN,0,3.52
21,0,NaN,2,8,304,3.15,3,150,15.2,17.3,NaN,0,3.435
22,0,NaN,4,8,350,3.73,3,245,13.3,15.41,NaN,0,3.84
23,0,NaN,2,8,400,3.08,3,175,19.2,17.05,NaN,0,3.845
24,1,NaN,1,4,79,4.08,4,66,27.3,18.9,NaN,1,1.935
25,1,NaN,2,4,120.3,4.43,5,91,26,16.7,NaN,0,2.14
26,1,NaN,2,4,95.1,3.77,5,113,30.4,16.9,NaN,1,1.513
27,1,NaN,4,8,351,4.22,5,264,15.8,14.5,NaN,0,3.17
28,1,NaN,6,6,145,3.62,5,175,19.7,15.5,NaN,0,2.77
29,1,NaN,8,8,301,3.54,5,335,15,14.6,NaN,0,3.57
30,1,NaN,2,4,121,4.11,4,109,21.4,18.6,NaN,1,2.78

In [56]:
data = pd.DataFrame({'col1':[1,2,2,3,3,3,4,4],'col2':['a','b','b','c','c','c','d','c'],'col3':['A','B','B','C','C','C','D','D']})
data

   col1 col2 col3
0     1    a    A
1     2    b    B
2     2    b    B
3     3    c    C
4     3    c    C
5     3    c    C
6     4    d    D
7     4    c    D

In [57]:
type(data)

pandas.core.frame.DataFrame

In [58]:
##Drop Duplicates
data.drop_duplicates()

   col1 col2 col3
0     1    a    A
1     2    b    B
3     3    c    C
6     4    d    D
7     4    c    D

### create a New Column

In [59]:
cars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

In [60]:
cars['New'] = cars['am']+cars['gear']
cars['New']

Mazda RX4              5
Hornet 4 Drive         3
Hornet Sportabout      3
Valiant                3
Duster 360             3
Merc 240D              4
Merc 230               4
Merc 280               4
Merc 280C              4
Merc 450SE             3
Merc 450SL             3
Merc 450SLC            3
Cadillac Fleetwood     3
Lincoln Continental    3
Chrysler Imperial      3
Fiat 128               5
Honda Civic            5
Toyota Corolla         5
Toyota Corona          3
Dodge Challenger       3
AMC Javelin            3
Camaro Z28             3
Pontiac Firebird       3
Fiat X1-9              5
Porsche 914-2          6
Lotus Europa           6
Ford Pantera L         6
Ferrari Dino           6
Maserati Bora          6
Volvo 142E             5
Name: New, dtype: int64

In [62]:
#finding the duplicates
data.duplicated()

0    False
1    False
2     True
3    False
4     True
5     True
6    False
7    False
dtype: bool

cars['condition'] = cars['condition'],cars['am']==1
cars['N']

In [64]:
cars.loc[cars.am==1,'condition'] = 'City'
cars.loc[cars.am==0,'condition'] = 'Rural'
cars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,New,condition
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,3,Rural
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,3,Rural
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,3,Rural
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,3,Rural
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,4,Rural
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,4,Rural
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,3,Rural
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,3,Rural
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,3,Rural
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,3,Rural
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,3,Rural
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,3,Rural
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,5,City
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,5,City
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,5,City
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,3,Rural
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,3,Rural
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,3,Rural
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,3,Rural
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,3,Rural
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,5,City
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,6,City
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,6,City
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,6,City
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,6,City
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,6,City
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,5,City

### Grouping --> groupby and use any aggregate function

In [66]:
count() - Number of non-null observations.
sum()  - Sum of values
mean() - Mean of calues
median()- Arithmetic median of values
min()  - Minimum
max()  - Maximum
mode() - Mode
std()  - Standard deviation
var()  - Variance

SyntaxError: invalid syntax (<ipython-input-66-cce315931a92>, line 1)

In [67]:
## Other functions

In [ ]:
abs()  - Absolute Value
prod() - Product of value
cumsum() - Cumulative sum
cumprod() - cumulative Product

In [68]:
cars_gp = cars.groupby('am')
cars_gp

In [69]:
cars_gp.count()

    mpg  cyl  disp  hp  drat  wt  qsec  vs  gear  carb  New  condition
am
0    19   19    19  19    19  19    19  19    19    19   19         19
1    11   11    11  11    11  11    11  11    11    11   11         11

In [70]:
cars_gp.mean()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,gear,carb,New
am,,,,,,,,,,,
0,17.147368,6.947368,290.378947,160.263158,3.286316,3.768895,18.183158,0.368421,3.210526,2.736842,3.210526
1,24.845455,5.090909,145.263636,131.454545,4.081818,2.377091,17.277273,0.545455,4.454545,3.000000,5.454545

In [71]:
cars_gp.sum()

      mpg  cyl    disp    hp   drat      wt    qsec  vs  gear  carb  New
am
0   325.8  132  5517.2  3045  62.44  71.609  345.48   7    61    52   61
1   273.3   56  1597.9  1446  44.90  26.148  190.05   6    49    33   60

In [72]:
cars_gp1 = cars.groupby('gear')
cars_gp1

In [73]:
cars_gp1.count()

      mpg  cyl  disp  hp  drat  wt  qsec  vs  am  carb  New  condition
gear
3      15   15    15  15    15  15    15  15  15    15   15         15
4      10   10    10  10    10  10    10  10  10    10   10         10
5       5    5     5   5     5   5     5   5   5     5    5          5

In [74]:
cars.am.count()

30

In [75]:
cars.am.median()

0.0

In [76]:
cars.max()

mpg           33.9
cyl              8
disp           472
hp             335
drat          4.93
wt           5.424
qsec          22.9
vs               1
am               1
gear             5
carb             8
New              6
condition    Rural
dtype: object

In [77]:
cars.gear.max()

5

In [78]:
cars.min()

mpg           10.4
cyl              4
disp          71.1
hp              52
drat          2.76
wt           1.513
qsec          14.5
vs               0
am               0
gear             3
carb             1
New              3
condition     City
dtype: object

In [79]:
cars.gear.min()

3

## # Add new Column

In [80]:
newc = pd.DataFrame(cars['gear'])
newc

                     gear
Mazda RX4               4
Hornet 4 Drive          3
Hornet Sportabout       3
Valiant                 3
Duster 360              3
Merc 240D               4
Merc 230                4
Merc 280                4
Merc 280C               4
Merc 450SE              3
Merc 450SL              3
Merc 450SLC             3
Cadillac Fleetwood      3
Lincoln Continental     3
Chrysler Imperial       3
Fiat 128                4
Honda Civic             4
Toyota Corolla          4
Toyota Corona           3
Dodge Challenger        3
AMC Javelin             3
Camaro Z28              3
Pontiac Firebird        3
Fiat X1-9               4
Porsche 914-2           5
Lotus Europa            5
Ford Pantera L          5
Ferrari Dino            5
Maserati Bora           5
Volvo 142E              4

In [81]:
pd.merge(cars,newc)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,New,condition
0,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
1,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
2,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
3,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
5,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
6,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
7,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
8,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
9,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
10,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
11,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
12,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
13,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
14,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
15,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
16,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
17,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
18,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
19,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
20,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
21,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
22,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
23,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
24,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
25,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
26,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
27,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
28,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
29,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,3,Rural
321,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,3,Rural
322,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,3,Rural
323,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,3,Rural
324,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,3,Rural
325,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,6,City
326,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,6,City
327,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,6,City
328,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,6,City
329,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,6,City
330,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,6,City
331,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,6,City
332,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,6,City
333,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,6,City
334,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,6,City
335,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,6,City
336,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,6,City
337,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,6,City
338,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,6,City
339,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,6,City
340,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,6,City
341,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,6,City
342,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,6,City
343,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,6,City
344,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,6,City
345,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,6,City
346,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,6,City
347,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,6,City
348,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,6,City
349,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,6,City

In [83]:
newd = pd.DataFrame(cars['gear'])
newd.columns=['gear_new']
newd

                     gear_new
Mazda RX4                   4
Hornet 4 Drive              3
Hornet Sportabout           3
Valiant                     3
Duster 360                  3
Merc 240D                   4
Merc 230                    4
Merc 280                    4
Merc 280C                   4
Merc 450SE                  3
Merc 450SL                  3
Merc 450SLC                 3
Cadillac Fleetwood          3
Lincoln Continental         3
Chrysler Imperial           3
Fiat 128                    4
Honda Civic                 4
Toyota Corolla              4
Toyota Corona               3
Dodge Challenger            3
AMC Javelin                 3
Camaro Z28                  3
Pontiac Firebird            3
Fiat X1-9                   4
Porsche 914-2               5
Lotus Europa                5
Ford Pantera L              5
Ferrari Dino                5
Maserati Bora               5
Volvo 142E                  4

In [84]:
cars.join(newd)

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,New,condition,gear_new
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City,4
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,3,Rural,3
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,3,Rural,3
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,3,Rural,3
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,3,Rural,3
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural,4
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural,4
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,4,Rural,4
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,4,Rural,4
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,3,Rural,3
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,3,Rural,3
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,3,Rural,3
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,3,Rural,3
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,3,Rural,3
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,3,Rural,3
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,5,City,4
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,5,City,4
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,5,City,4
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,3,Rural,3
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,3,Rural,3
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,3,Rural,3
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,3,Rural,3
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,3,Rural,3
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,5,City,4
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,6,City,5
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,6,City,5
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,6,City,5
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,6,City,5
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,6,City,5
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,5,City,4

In [87]:
pd.merge(cars,newc,how='outer',on)

SyntaxError: positional argument follows keyword argument (<ipython-input-87-671668cad099>, line 1)

In [88]:
cars.gear.var()

0.5747126436781611

In [89]:
cars.mode()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,New,condition
0,10.4,8.0,275.8,175.0,3.07,3.44,18.9,0.0,0.0,3.0,2.0,3.0,Rural
1,15.2,NaN,NaN,180.0,3.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,21.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
cars.gear.mode()

0    3
dtype: int64

In [93]:
d3 = pd.DataFrame({'A':[5,-6,7],'B':[3,5,-6],'C':[8,3,1]})
d3

   A  B  C
0  5  3  8
1 -6  5  3
2  7 -6  1

In [95]:
d4=d3.abs()
d4

   A  B  C
0  5  3  8
1  6  5  3
2  7  6  1

In [96]:
d4.prod()

A    210
B     90
C     24
dtype: int64

In [97]:
d3.cumsum()

   A  B   C
0  5  3   8
1 -1  8  11
2  6  2  12

In [98]:
d3.cumprod()

     A   B   C
0    5   3   8
1  -30  15  24
2 -210 -90  24

### Export dataframe into csv file

In [99]:
cars

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb,New,condition
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4,5,City
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1,3,Rural
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2,3,Rural
Valiant,18.1,6,225.0,105,2.76,3.460,20.22,1,0,3,1,3,Rural
Duster 360,14.3,8,360.0,245,3.21,3.570,15.84,0,0,3,4,3,Rural
Merc 240D,24.4,4,146.7,62,3.69,3.190,20.00,1,0,4,2,4,Rural
Merc 230,22.8,4,140.8,95,3.92,3.150,22.90,1,0,4,2,4,Rural
Merc 280,19.2,6,167.6,123,3.92,3.440,18.30,1,0,4,4,4,Rural
Merc 280C,17.8,6,167.6,123,3.92,3.440,18.90,1,0,4,4,4,Rural
Merc 450SE,16.4,8,275.8,180,3.07,4.070,17.40,0,0,3,3,3,Rural
Merc 450SL,17.3,8,275.8,180,3.07,3.730,17.60,0,0,3,3,3,Rural
Merc 450SLC,15.2,8,275.8,180,3.07,3.780,18.00,0,0,3,3,3,Rural
Cadillac Fleetwood,10.4,8,472.0,205,2.93,5.250,17.98,0,0,3,4,3,Rural
Lincoln Continental,10.4,8,460.0,215,3.00,5.424,17.82,0,0,3,4,3,Rural
Chrysler Imperial,14.7,8,440.0,230,3.23,5.345,17.42,0,0,3,4,3,Rural
Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1,5,City
Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2,5,City
Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1,5,City
Toyota Corona,21.5,4,120.1,97,3.70,2.465,20.01,1,0,3,1,3,Rural
Dodge Challenger,15.5,8,318.0,150,2.76,3.520,16.87,0,0,3,2,3,Rural
AMC Javelin,15.2,8,304.0,150,3.15,3.435,17.30,0,0,3,2,3,Rural
Camaro Z28,13.3,8,350.0,245,3.73,3.840,15.41,0,0,3,4,3,Rural
Pontiac Firebird,19.2,8,400.0,175,3.08,3.845,17.05,0,0,3,2,3,Rural
Fiat X1-9,27.3,4,79.0,66,4.08,1.935,18.90,1,1,4,1,5,City
Porsche 914-2,26.0,4,120.3,91,4.43,2.140,16.70,0,1,5,2,6,City
Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2,6,City
Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4,6,City
Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6,6,City
Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8,6,City
Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2,5,City

In [100]:
cars.to_csv('new_cars.csv')

### Pandas Profiling Report

In [107]:
!pip install --upgrade pip

Collecting pip
  Downloading https://files.pythonhosted.org/packages/a4/6d/6463d49a933f547439d6b5b98b46af8742cc03ae83543e4d7688c2420f8b/pip-21.3.1-py3-none-any.whl (1.7MB)
Installing collected packages: pip
  Found existing installation: pip 9.0.1
    Uninstalling pip-9.0.1:

Cache entry deserialization failed, entry ignored
Exception:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 544, in move
    os.rename(src, real_dst)
PermissionError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\pip' -> 'C:\\Users\\YUVRAJ~1.PAN\\AppData\\Local\\Temp\\pip-n4o1piu0-uninstall\\programdata\\anaconda3\\lib\\site-packages\\pip'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\basecommand.py", line 215, in main
    status = self.run(options, args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\commands\install.py", line 342, in run
    prefix=options.prefix_path,
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\req\req_set.py", line 778, in install
    requirement.uninstall(auto_confirm=True)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\req\req_install.py", line 754, in uninstall
    paths_to_remove.remove(auto_confirm)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\req\req_uninstall.py", line 115, in remove
    renames(path, new_path)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\utils\__init__.py", line 267, in renames
    shutil.move(old, new)
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 556, in move
    rmtree(src)
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 494, in rmtree
    return _rmtree_unsafe(path, onerror)
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 389, in _rmtree_unsafe
    onerror(os.unlink, fullname, sys.exc_info())
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 387, in _rmtree_unsafe
    os.unlink(fullname)
PermissionError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\pip\\basecommand.py'
You are using pip version 9.0.1, however version 23.1.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [108]:
!pip install pandas_profiling

Collecting pandas_profiling
  Using cached https://files.pythonhosted.org/packages/57/b7/e13216265ae3135ecda13e966aad9ce04b7e7b3e2d87d056b032fc9f457c/pandas_profiling-3.2.0-py2.py3-none-any.whl
Collecting pydantic>=1.8.1 (from pandas_profiling)
  Downloading https://files.pythonhosted.org/packages/52/e2/52961699414260e6b55500600c90acad94861c981f6ebfdb12e5e99ad1d4/pydantic-1.9.2-cp36-cp36m-win_amd64.whl (2.1MB)
Collecting pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 (from pandas_profiling)
  Using cached https://files.pythonhosted.org/packages/79/87/8bb36bd4ebae147612c73d1bdc1385db7beebb9eb141c4bfefb33f52c87c/pandas-1.1.5-cp36-cp36m-win_amd64.whl
Collecting htmlmin>=0.1.12 (from pandas_profiling)
  Using cached https://files.pythonhosted.org/packages/b3/e7/fcd59e12169de19f0131ff2812077f964c6b960e7c09804d30a7bf2ab461/htmlmin-0.1.12.tar.gz
Collecting missingno>=0.4.2 (from pandas_profiling)
  Downloading https://files.pythonhosted.org/packages/87/22/cd5cf999af21c2f97486622c551ac3d07361ced8125121e907f588ff5f24/missingno-0.5.2-py3-none-any.whl
Collecting seaborn>=0.10.1 (from pandas_profiling)
  Using cached https://files.pythonhosted.org/packages/10/5b/0479d7d845b5ba410ca702ffcd7f2cd95a14a4dfff1fde2637802b258b9b/seaborn-0.11.2-py3-none-any.whl
Collecting tqdm>=4.48.2 (from pandas_profiling)
  Downloading https://files.pythonhosted.org/packages/47/bb/849011636c4da2e44f1253cd927cfb20ada4374d8b3a4e425416e84900cc/tqdm-4.64.1-py2.py3-none-any.whl (78kB)
Collecting requests>=2.24.0 (from pandas_profiling)
  Downloading https://files.pythonhosted.org/packages/2d/61/08076519c80041bc0ffa1a8af0cbd3bf3e2b62af10435d269a9d0f40564d/requests-2.27.1-py2.py3-none-any.whl (63kB)
Collecting tangled-up-in-unicode==0.2.0 (from pandas_profiling)
  Using cached https://files.pythonhosted.org/packages/dd/60/3651960b74aead282ec1ad819e70bdccf3ee73322d13d4339a6e3f5b7ed3/tangled_up_in_unicode-0.2.0-py3-none-any.whl
Collecting matplotlib>=3.2.0 (from pandas_profiling)
  Downloading https://files.pythonhosted.org/packages/da/75/7bb16e22aa3f8d23a3afd065a7c933de71b67561c4561cf162fbc5d94221/matplotlib-3.3.4-cp36-cp36m-win_amd64.whl (8.5MB)
Collecting PyYAML>=5.0.0 (from pandas_profiling)
  Downloading https://files.pythonhosted.org/packages/89/26/0bfd7b756b34c68f8fd158b7bc762b6b1705fc1b3cebf4cdbb53fd9ea75b/PyYAML-6.0-cp36-cp36m-win_amd64.whl (153kB)
Collecting numpy>=1.16.0 (from pandas_profiling)
  Downloading https://files.pythonhosted.org/packages/ea/bc/da526221bc111857c7ef39c3af670bbcf5e69c247b0d22e51986f6d0c5c2/numpy-1.19.5-cp36-cp36m-win_amd64.whl (13.2MB)
Collecting jinja2>=2.11.1 (from pandas_profiling)
  Using cached https://files.pythonhosted.org/packages/20/9a/e5d9ec41927401e41aea8af6d16e78b5e612bca4699d417f646a9610a076/Jinja2-3.0.3-py3-none-any.whl
Collecting scipy>=1.4.1 (from pandas_profiling)
  Using cached https://files.pythonhosted.org/packages/f3/9f/80522344838ae24cac9e945240436269cbb92349f7f1f4c9dfc10cb6bad5/scipy-1.5.4-cp36-cp36m-win_amd64.whl
Collecting markupsafe~=2.1.1 (from pandas_profiling)

  Could not find a version that satisfies the requirement markupsafe~=2.1.1 (from pandas_profiling) (from versions: 0.9, 0.9.1, 0.9.2, 0.9.3, 0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.20, 0.21, 0.22, 0.23, 1.0, 1.1.0, 1.1.1, 2.0.0a1, 2.0.0rc1, 2.0.0rc2, 2.0.0, 2.0.1)
No matching distribution found for markupsafe~=2.1.1 (from pandas_profiling)
You are using pip version 9.0.1, however version 23.1.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [109]:
from pandas_profiling import profile_report
cars.profile_report()

ModuleNotFoundError: No module named 'pandas_profiling'

In [110]:
! pip install pandas_profiling

Collecting pandas_profiling
  Using cached https://files.pythonhosted.org/packages/57/b7/e13216265ae3135ecda13e966aad9ce04b7e7b3e2d87d056b032fc9f457c/pandas_profiling-3.2.0-py2.py3-none-any.whl
Collecting phik>=0.11.1 (from pandas_profiling)
  Downloading https://files.pythonhosted.org/packages/8e/30/f785f6da50067085766c7b540a5febbc5b62c9774b23f2761354221225b9/phik-0.12.0-cp36-cp36m-win_amd64.whl (660kB)
Collecting pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 (from pandas_profiling)
  Using cached https://files.pythonhosted.org/packages/79/87/8bb36bd4ebae147612c73d1bdc1385db7beebb9eb141c4bfefb33f52c87c/pandas-1.1.5-cp36-cp36m-win_amd64.whl
Collecting tangled-up-in-unicode==0.2.0 (from pandas_profiling)
  Using cached https://files.pythonhosted.org/packages/dd/60/3651960b74aead282ec1ad819e70bdccf3ee73322d13d4339a6e3f5b7ed3/tangled_up_in_unicode-0.2.0-py3-none-any.whl
Collecting pydantic>=1.8.1 (from pandas_profiling)
  Using cached https://files.pythonhosted.org/packages/52/e2/52961699414260e6b55500600c90acad94861c981f6ebfdb12e5e99ad1d4/pydantic-1.9.2-cp36-cp36m-win_amd64.whl
Collecting markupsafe~=2.1.1 (from pandas_profiling)

  Could not find a version that satisfies the requirement markupsafe~=2.1.1 (from pandas_profiling) (from versions: 0.9, 0.9.1, 0.9.2, 0.9.3, 0.11, 0.12, 0.13, 0.14, 0.15, 0.16, 0.17, 0.18, 0.19, 0.20, 0.21, 0.22, 0.23, 1.0, 1.1.0, 1.1.1, 2.0.0a1, 2.0.0rc1, 2.0.0rc2, 2.0.0, 2.0.1)
No matching distribution found for markupsafe~=2.1.1 (from pandas_profiling)
You are using pip version 9.0.1, however version 23.1.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.