### Agenda
* Python Introduction and features
* Basic Programming Syntax
* Data Types
* Typecasting
* Slicing
* Operators
* Some function

#### Cntrl+Enter --> run the cell and stay in same cell
#### Shift+Entrr --> run the cell and move in next cell

## Python
* 1991, Guido Van Rossum
* simple and easy to learn
* object oriented language
* open source
* powerfull datascience, Web application
* portable,interactive
* open community group

### Basic Programing Syntax
* Comments-single-line,multi-line
* Print
* Identifiers,Variable

#Single line comment
"""""" or '''''' multi line comment

In [1]:
# This is single line comment
print("Yuvraj Pandey")

Yuvraj Pandey

In [2]:
''' This is first line
   Second line
   third line '''
print("How are you all")

How are you all

In [3]:
print('Yuvraj')

Yuvraj

### Identifiers --> name given to indentify variable,function naame,packeges

Rules;-
   alphabets/digits/_
   doesn't contain any special chars
   start with _ or alphabets

In [4]:
### Variable --> if values are varies than it is a variable
x1_=10
x1_

10

In [5]:
name='Yuvraj'
surname="Pandey"
print(name,surname)

Yuvraj Pandey

#### DataTypes
* Boolean --> T or F, 0 or 1
* int ---> whole Num -ve , +ve
* float --> decimal
* Str --> 'Yuvraj', "Yuvraj" (group of char or special char)

In [6]:
# bool
a =True
b= False
print(a)
print(b)

True
False

In [7]:
# Int

x=67
y=-45
z=0
print(x,y)
print(y)
print(z)

67 -45
-45
0

In [8]:
# float
m= 4.456
n= -245.998
print(m,n)

4.456 -245.998

In [9]:
type(m)

float

In [10]:
type(n)

float

In [11]:
print("m=",m)

m= 4.456

In [12]:
print("n=",n)

n= -245.998

In [13]:
int(a)

1

In [14]:
int(b)

0

In [15]:
# Input - input from the user --> will accept by default string

dd=input("Enter any value")
print("The value is",dd)

Enter any value56
The value is 56

In [16]:
type(dd)

str

In [17]:
dd1=int(input("Enter any value"))
print("The value is",dd1)

Enter any value67
The value is 67

In [18]:
type(dd1)

int

In [19]:
dd2=float(int(input("Enter any value")))
print("The value is",dd2)

Enter any value89
The value is 89.0

### TypeCasting
* Auto
* Forced

In [20]:
# Auto
exp =5+4.96
exp

9.96

# Importance Order (Precedence Value)

* String
* Float
* Int 
* Boolean

### Slicing  --> substring, Char

* 3 Parameter  --> Start,Stop(E), Step

In [21]:
 s1 = "Data Scientist"
s1[0]

'D'

In [22]:
len(s1)

14

In [23]:
s1[4]

' '

In [24]:
s1[5:11]

'Scient'

In [25]:
s1[5:11:2]

'Sin'

In [26]:
a = 400
b= 50
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [27]:
bool('1')

True

In [28]:
s1[-1:-6:-1]

'tsitn'

In [29]:
s1[:7]

'Data Sc'

In [30]:
s1[5:]

'Scientist'

In [31]:
print(a,"\n",b)

400
 50

## Operators
* Arithmetic Operator +,-,/,//,%,**
* Conditional Operator - >,<,<=,>=,!=,==
* Logical operator - and ,or

In [32]:
# Arithmetic Operators
x= 13
y= 5
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)
print(x%y)
print(x**y)

18
8
65
2.6
2
3
371293

* / --> float
* // --> int
* % --> remainder

In [33]:
# Conditional operator

x= 13
y= 5
z=5
print(x>y)
print(x<y)
print(x==y)
print(x!=y)
print(y==z)

True
False
False
True
True

In [34]:
## Logical Operator   T & T --> T  or F & F -> F


a=55
b=107
c=67
print((a>b) and (a==b))
print((a>b) or (a==b))
print((a>b) or (a!=b))

False
False
True

 ### Some important Function
* Upper
* Lower
* Split
* format
* eval

In [35]:
s1

'Data Scientist'

In [36]:
s1.upper()

'DATA SCIENTIST'

In [37]:
s1.lower()

'data scientist'

In [38]:
a= s1.split()
a

['Data', 'Scientist']

In [39]:
s2='Hai everyone! Good Evening' 
s2.split("!")

['Hai everyone', ' Good Evening']

In [40]:
a[0]

'Data'

In [41]:
a[1]

'Scientist'

In [42]:
# format
name = 'Yuvraj'
age =  25
role = "Automation Engineer"
print("My name is {}, my age is {}, and my role is {},".format(name,age,role))

My name is Yuvraj, my age is 25, and my role is Automation Engineer,

## {}  --> This is called place holder use to formate

In [43]:
# format
name = 'Yuvraj'
age =  25
role = "Automation Engineer"
print("My name is {0}, my age is {2}, and my role is {1},".format(name,role,age))

My name is Yuvraj, my age is 25, and my role is Automation Engineer,

In [44]:
# eval
exp = eval(input("Enter an expression " ))
exp

Enter an expression 5.4+2

7.4