### Agenda
* Conditional Statements
* Loops
* List
* Tuples
* Dictionary
* Sets
* Functions

### Conditional Statements --> if, if-else, elif

In [1]:
## if
num = 5
if(num>0):
    print("The number is positive")
    print("Inside if ")

else:
    print("The number is negative")

The number is positive
Inside if

In [2]:
## if
num = -15
if(num>0):
    print("The number is positive")
    print("Inside if ")
else:
    print("The number is negative")
    print("Inside else")
print("Outside if-else")

The number is negative
Inside else
Outside if-else

In [3]:
num = int(input("Enter a number"))
if(num>=0):
    print("The number is positive")

Enter a number15
The number is positive

In [4]:
num = int(input("Enter a number"))
if(num>=0):
    print("The number is positive")
else:
    print("The number is Negative")

Enter a number5
The number is positive

In [5]:
# if-elif
num = int(input("Enter a number"))
if(num>0):
    print("The number is positive")
    print("Inside if")
elif(num<0):
    print("The number is Negative")
    print("Inside el-if")
else:
    print("The number is Zero")
    print("Inside else")

Enter a number12
The number is positive
Inside if

In [6]:
## Q) Check whether the given number is divisible by 2,3, 2 and 3
## 12,4,21

In [7]:
num = int(input("Enter a number"))
if((num%2==0) and (num%3==0)):
    print("The number is divisible by both 2 and 3")
    print("Inside if")
elif(num%2==0):
    print("The number is divisible by 2")
    print("Inside el-if")
elif(num%3==0):
    print("The number is divisible by 3")
    print("Inside el-if")
else:
    print("The number is Not Divisible")
    print("Inside else")

Enter a number12
The number is divisible by both 2 and 3
Inside if

## Loops --> for,while

## While loop
* Explicitly need to mention increment and decrement
* But in for loop no need to mention
* In for loop we have range function that we use in increment and decrement

In [8]:
i=1
while(i<=10):
    print("I crossed {} step".format(i))
    i=i+1
print("End of the Program")

I crossed 1 step
I crossed 2 step
I crossed 3 step
I crossed 4 step
I crossed 5 step
I crossed 6 step
I crossed 7 step
I crossed 8 step
I crossed 9 step
I crossed 10 step
End of the Program

In [9]:
# Q) Print 100 to 90 in reversed order

In [10]:
# Q) Print 100 to 90 in reversed order
i=100
while(i>=90):
    print("I crossed {} step".format(i))
    i=i-1
print("End of the Program")

I crossed 100 step
I crossed 99 step
I crossed 98 step
I crossed 97 step
I crossed 96 step
I crossed 95 step
I crossed 94 step
I crossed 93 step
I crossed 92 step
I crossed 91 step
I crossed 90 step
End of the Program

In [11]:
# Q) Print 100 to 90 in reversed order
i=100
while(i>=90):
    print("I crossed {} step".format(i))
    i=i-2
print("End of the Program")

I crossed 100 step
I crossed 98 step
I crossed 96 step
I crossed 94 step
I crossed 92 step
I crossed 90 step
End of the Program

## for loop
* Explicitly not give
* Range function which take 3 parameter
* Start, Stop(E),Step

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
for i in range(1,5):
    print(i)

1
2
3
4

In [14]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [15]:
for i in range(1,11):
    print("I crossed {} step".format(i))

I crossed 1 step
I crossed 2 step
I crossed 3 step
I crossed 4 step
I crossed 5 step
I crossed 6 step
I crossed 7 step
I crossed 8 step
I crossed 9 step
I crossed 10 step

In [16]:
for i in range(100,89,-2):
    print("I crossed {} step".format(i))

I crossed 100 step
I crossed 98 step
I crossed 96 step
I crossed 94 step
I crossed 92 step
I crossed 90 step

In [17]:
## sum of nos for loop
num=int(input("Enter the number"))
sum=0
for i in range(num+1):
    sum=sum+i
print("Sum",sum)

Enter the number5
Sum 15

In [18]:
## sum of nos for loop
sum=0
for i in range(1,51):
    sum=sum+i
print("sum",sum)

sum 1275

### DATA STRUCTURE
* List,Tuples,Dictionary

### List
* Heterogenenous collection of element
* It contain element of different Data type
* [] any data type
* Mutuable --> change/modified
* Operation --> insert,delete
* To increase the size of list --> insert,append,extend
* To decrease the count of list pop,remove,del

In [19]:
r1 = [1,2,6,7,'hi',True]
r1

[1, 2, 6, 7, 'hi', True]

In [20]:
type(r1)

list

## Nested List

* List embedded inside list

In [21]:
r1[3] = [11,12,13,14]
r1

[1, 2, 6, [11, 12, 13, 14], 'hi', True]

In [22]:
r1[3][1]

12

In [23]:
r1[3]

[11, 12, 13, 14]

In [24]:
r1[4]

'hi'

### Tuples
* Heterogenenous collection of element
* It contain element of different Data type
* () any data type
* Im-Mutuable --> can not change/modified

In [25]:
t1 = (1,2,6,7,'hi',True)
t1

(1, 2, 6, 7, 'hi', True)

In [26]:
type(t1)

tuple

In [27]:
## Extract value
r1[2]

6

In [28]:
t1[2]

6

In [29]:
t1[2:]

(6, 7, 'hi', True)

In [30]:
r1[-1:-4]
r1

[1, 2, 6, [11, 12, 13, 14], 'hi', True]

In [31]:
r1

[1, 2, 6, [11, 12, 13, 14], 'hi', True]

In [32]:
d=r1[-1:-4:-1]
d

[True, 'hi', [11, 12, 13, 14]]

In [33]:
d.reverse()
d

[[11, 12, 13, 14], 'hi', True]

In [34]:
t1[2]=8
t1

TypeError: 'tuple' object does not support item assignment

In [35]:
t1.count(6)

1

In [36]:
t1.index(2)

1

In [37]:
r1[2]=8
r1

[1, 2, 8, [11, 12, 13, 14], 'hi', True]

In [38]:
# 1 and 10
num = int(input("Enter the number"))
if((num>=1) and (num<=10)):
    print("Yes number between 1 to 10")
else:
    print("Not under 1 to 10")

Enter the number6
Yes number between 1 to 10

In [39]:
r1.insert(2,'Three')  # pos before it has to be inserted,element(pos,ele)
r1

[1, 2, 'Three', 8, [11, 12, 13, 14], 'hi', True]

In [40]:
r1.append(20)
r1

[1, 2, 'Three', 8, [11, 12, 13, 14], 'hi', True, 20]

In [41]:
r1.extend([20,30,40])  # insert many ele at the end of the list
r1

[1, 2, 'Three', 8, [11, 12, 13, 14], 'hi', True, 20, 20, 30, 40]

In [42]:
r2= [11,22,33,44]
r2

[11, 22, 33, 44]

In [43]:
r2.extend(r1)   # joining another list
r2

[11,
 22,
 33,
 44,
 1,
 2,
 'Three',
 8,
 [11, 12, 13, 14],
 'hi',
 True,
 20,
 20,
 30,
 40]

In [44]:
## pop --> delete last element and it returns the deleted/last element

r1.pop()

40

In [45]:
r1

[1, 2, 'Three', 8, [11, 12, 13, 14], 'hi', True, 20, 20, 30]

In [46]:
r1.remove(20)   # delete the particular element

In [47]:
r1

[1, 2, 'Three', 8, [11, 12, 13, 14], 'hi', True, 20, 30]

In [48]:
del r1[7]  # delete element of partic
r1

[1, 2, 'Three', 8, [11, 12, 13, 14], 'hi', True, 30]

In [49]:
del r1[-1]
r1

[1, 2, 'Three', 8, [11, 12, 13, 14], 'hi', True]

In [50]:
del r2 # delete whole list from memory

In [51]:
r2

NameError: name 'r2' is not defined

In [52]:
r2.clear()  # clear the element of list

NameError: name 'r2' is not defined

In [53]:
s = 'Yuvraj Rajhans Pandey'
s.split()[2]

'Pandey'

In [54]:
r2 = [1,1,5,6,8,9,25,36]
r2

[1, 1, 5, 6, 8, 9, 25, 36]

In [55]:
del r2[0:3]   # Deleting multiple element
r2

[6, 8, 9, 25, 36]

### Dictionary

* Collection of key/value pairs
* {}, ':' separate key & value
* Change value but not key, key is unique
* Values are not fetch by index,instead of by using Key

In [56]:
d1={1:'One',2:'Two',3:'Three'}
d1

{1: 'One', 2: 'Two', 3: 'Three'}

In [57]:
type(d1)

dict

In [58]:
d1.keys()

dict_keys([1, 2, 3])

In [59]:
d1.values()

dict_values(['One', 'Two', 'Three'])

In [60]:
d1.items()

dict_items([(1, 'One'), (2, 'Two'), (3, 'Three')])

In [61]:
d1[1]

'One'

In [62]:
d1[1]='OneOne'
d1

{1: 'OneOne', 2: 'Two', 3: 'Three'}

In [63]:
d1[3]

'Three'

In [64]:
d2={'Name':"Yuvraj",'Age':25, 'bro':"Y"}
d2

{'Age': 25, 'Name': 'Yuvraj', 'bro': 'Y'}

In [65]:
d2['Age']

25

In [66]:
d2["Name"]

'Yuvraj'

In [67]:
d3 = {1:'One',2:('two','six',9,12),3:{33:'Three',44:['four',5,6,9]}}
d3

{1: 'One', 2: ('two', 'six', 9, 12), 3: {33: 'Three', 44: ['four', 5, 6, 9]}}

In [68]:
d3[2]

('two', 'six', 9, 12)

In [69]:
d3[3][44]

['four', 5, 6, 9]

### Set

* Collection of Heterogeneous unique elements
* Arranged in ascending order
* Operations --> Union,intersection
* {}
* Element in set are unique

In [70]:
s1 = {34,12,89,12,1,45,33}
s1

{1, 12, 33, 34, 45, 89}

In [71]:
s2 = {True,False,1,2,3,4,5,6,11,56,'hi','HELL','hELLO'}
s2

{False, True, 2, 3, 4, 5, 6, 11, 'hi', 'HELL', 56, 'hELLO'}

In [72]:
s3 = {True,'Yuvraj','Yuvraj',91.7,3.5,56}
s3

{True, 3.5, 'Yuvraj', 56, 91.7}

In [73]:
s1.intersection(s2)  # same or unique element

{1}

In [74]:
s3 = {'a','b','c'}
print(s3)
s3

{'c', 'a', 'b'}

{'a', 'b', 'c'}

### Function

* Perform a task
* def keyword
* readability & understandability
* easy to debug

In [75]:
## Finding area of cricle



def area(radius):
    ar = 3.14*radius*radius
    print("Area = ",ar)
area(5)  # fun call

Area =  78.5

In [76]:
sum = 0
for i in range(1,21):
    
    sum=sum+i
    print(sum)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [77]:
## Area of Traingle


def traingle(b,h):
    area=0.5*b*h
    peri = 2*(b+h)
    return (area,peri)
bre=int(input("Enter the side1"))
ht=int(input("Enter the side2"))
ar,pr=traingle(bre,ht)
print("Area =",ar)
print("Perimeter =",pr)

Enter the side15
Enter the side25
Area = 12.5
Perimeter = 20

In [78]:
def cubh(l,b,h):
    vol=l*b*h
    return vol
v=cubh(10,15,20)
bre=v/15
bre

200.0

In [79]:
# break,continue,pass

In [80]:
for i in range(5):
    print(i)
    break

0

In [81]:
for i in range(5):
    print(i)
    continue
    print("Hai")

0
1
2
3
4

In [82]:
for i in range(5):
    print(i)
    pass

0
1
2
3
4

In [83]:
for i in range(5):
    print(i)
    if(i>3):
        break
    else:
        print(i)

0
0
1
1
2
2
3
3
4